<!-- Container-fluid Start-->
<div class="container-fluid search-page">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title mb-0">Update / Delete Record</h4>
        </div>
        <div class="card-body">
          <form class="search-form">
            <div class="form-group1 m-0">
              <input class="form-control" type="search" placeholder="Search..">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->
<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="edit-profile">
    <div class="row">
      <div class="col-xl-12">
        <form class="card" [formGroup]="userForm">
          <div class="card-header">
            <h4 class="card-title mb-0">User Management</h4>
          </div>
          <div class="card-body">
            <div class="row status" *ngIf="userRegisterIf==false">
              <div class="col-sm-12 col-md-12">
                Successfully User Registered..
              </div>
            </div>
              <div class="row">
              <div class="col-sm-6 col-md-6">
                <div class="mb-3">
                  <label class="form-label">NIC</label>
                  <input class="form-control" type="text" placeholder="NIC" formControlName="nic" required="">
                </div>
              </div>
              <div class="col-sm-6 col-md-6">
                <div class="mb-3">
                  <label class="form-label">Email address</label>
                  <input class="form-control" type="email" placeholder="Email" formControlName="email" required="">
                </div>
              </div>
              <div class="col-sm-6 col-md-6">
                <div class="mb-3">
                  <label class="form-label">First Name</label>
                  <input class="form-control" type="text" placeholder="First Name" formControlName="first_name" required="">
                </div>
              </div>
              <div class="col-sm-6 col-md-6">
                <div class="mb-3">
                  <label class="form-label">Last Name</label>
                  <input class="form-control" type="text" placeholder="Last Name" formControlName="last_name" required="">
                </div>
              </div>
              <div class="col-sm-6 col-md-6">
                <div class="mb-3">
                  <label class="form-label">Telephone</label>
                  <input class="form-control" type="number" placeholder="Telephone" formControlName="tel" required="">
                </div>
              </div>
              <div class="col-sm-6 col-md-6">
                <div class="mb-3">
                  <label class="form-label">Position</label>
                  <select class="form-select btn-square" formControlName="position" required="">
                    <option value="0">--Select--</option>
                    <option value="AD">AD</option>
                    <option value="ADR">ADR</option>
                    <option value="USER">USER</option>
                    <option value="PRINT">PRINT</option>
                    <option value="ADMIN">ADMIN</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-6 col-md-6">
                <div class="mb-3">
                  <label class="form-label">Password</label>
                  <input class="form-control" type="password" placeholder="Password" formControlName="password" required="">
                </div>
              </div>
              <div class="col-sm-6 col-md-6">
                <div class="mb-3">
                  <label class="form-label">Confirm-Password</label>
                  <input class="form-control" type="password" placeholder="Confirm-Password" formControlName="conf_password" required="">
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer text-end">
            <button class="btn btn-primary" type="submit" (click)="register()">Submit Profile</button>
          </div>
        </form>
      </div>
    </div>
    <!-- footer start-->
    <footer class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 footer-copyright">
            <p class="mb-0">Copyright 2021 © nZO All rights reserved.</p>
          </div>
          <div class="col-md-6">
            <p class="pull-right mb-0">Hand crafted & made with<i class="fa fa-heart"></i>
            </p>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
